USE [master]
GO
/****** Object:  Database [DemoHocSinh]    Script Date: 20-Oct-17 23:21:22 ******/
CREATE DATABASE [DemoHocSinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoHocSinh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DemoHocSinh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoHocSinh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DemoHocSinh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoHocSinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoHocSinh]
GO
USE [DemoHocSinh]
GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 20-Oct-17 23:21:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh](
	[MaHocSinh] [int] IDENTITY(1,1) NOT NULL,
	[TenHocSinh] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[Lop] [int] NULL,
 CONSTRAINT [PK_HocSinh] PRIMARY KEY CLUSTERED 
(
	[MaHocSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[HocSinh] ON 

INSERT [dbo].[HocSinh] ([MaHocSinh], [TenHocSinh], [NgaySinh], [Lop]) VALUES (1111111114, N'Hưng', CAST(N'1994-11-20' AS Date), 12)
INSERT [dbo].[HocSinh] ([MaHocSinh], [TenHocSinh], [NgaySinh], [Lop]) VALUES (1111111116, N'Thành', CAST(N'2017-10-20' AS Date), 10)
INSERT [dbo].[HocSinh] ([MaHocSinh], [TenHocSinh], [NgaySinh], [Lop]) VALUES (1111111117, N'Kiet', CAST(N'2017-10-20' AS Date), 11)
SET IDENTITY_INSERT [dbo].[HocSinh] OFF
USE [master]
GO
